#useDynLib(codelink)
import(methods)

importFrom(BiocGenerics, annotation, "annotation<-", "normalize")
importFrom(annotate, lookUp, htmlpage)
importFrom(Biobase, exprs)
importFrom(limma,backgroundCorrect.matrix,normalizeCyclicLoess,normalizeMedianValues,normalizeQuantiles)

importClassesFrom(Biobase, eSet, ExpressionSet, VersionedBiobase, Versioned)

exportClasses(CodelinkSet, CodelinkSetUnique)
exportMethods(codCorrect, codNormalize, codPreprocess, probeNames, probeTypes,
	getSNR,	getInt, getBkg, getInfo, getWeight, getFlag, meanSNR, codPlot, exprs, chipDevice,
	filterSNR, codUniverse, writeCluster, writeCodelink, averageProbes)

S3method(as.matrix, Codelink)
S3method(dim, Codelink)

exportClasses(Codelink)
exportMethods("[", show, summary, summaryFlag, annotation)

export(readCodelink, writeCodelink, reportCodelink,
	plotMA, plotCorrelation, plotDensities, plotCV, imageCodelink,
	bkgdCorrect, normalize, mergeArray, createWeights, arrayNew,
	selCV, cutCV, fc2Cond, na2false, logCodelink,
	readCodelinkSet)
