S3method(as.matrix, Codelink)
S3method(dim, Codelink)

exportClasses(Codelink)
exportMethods("[", show)

export(readCodelink, writeCodelink, reportCodelink,
	plotMA, plotCorrelation, plotDensities, plotCV,
	bkgdCorrect, normalize, mergeArray, createWeights,
	selCV, cutCV, fc, na2false, logCodelink)
